
{{#common "gw-page"}}

    <div class="content controller" data-module="content" data-controller="modules/Content">

        <h1>IMPRESSUM</h1>
        <div class="inner col-md-6">
            <p>
                <strong>GewinnMax</strong><br>
                Bargkoppelweg 67<br>
                22145 Hamburg<br>
                Telefon: 040 6113 6113<br>
                Telefax: 040 6113 6110<br>
                E-Mail: tk@gewinnmax.de
            </p>
            <p>
                <strong>Sitz</strong><br>
                GewinnMAX GmbH<br>
                Roggenkamp 7<br>
                23669 Timmendorfer Strand
            </p>
            <p>
                <strong>Anschrift</strong><br>
                Postfach 1150, 23669 Timmendorfer Strand
            </p>
            <p>
                <strong>Allgemeine Informationen</strong> <br>
                GewinnMAX GmbH ist
                Unternehmensberatung
            </p>
            </div>

            <div class="inner col-md-6">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td><strong>Marketing:</strong></td>
                        <td>tk@<span class="displaynone">null</span>gewinnmax.de</td>
                    </tr>
                    <tr>
                        <td><strong>Public Relations:</strong></td>
                        <td>tk@<span class="displaynone">null</span>gewinnmax.de</td>
                    </tr>
                    <tr>
                        <td><strong>Webmaster:</strong></td>
                        <td>tk@<span class="displaynone">null</span>gewinnmax.de</td>
                    </tr>
                    <tr>
                        <td><strong>Internet:</strong></td>
                        <td>www.gewinnmax.de</td>
                    </tr>
                    <tr>
                        <td><strong>Rechtsform:</strong></td>
                        <td>GmbH</td>
                    </tr>
                    <tr>
                        <td><strong>Handelsregister:</strong></td>
                        <td>Amtsgericht L端beck - HRB NEU in Gr端ndung</td>
                    </tr>
                    <tr>
                        <td><strong>UST-Ident-Nr.:</strong></td>
                        <td>folgt</td>
                    </tr>
                    <tr>
                        <td><strong>ST-Nr.:</strong></td>
                        <td>folgt</td>
                    </tr>
                    <tr>
                        <td><strong>Gerichtsstand:</strong></td>
                        <td>Hamburg</td>
                    </tr>
                    <tr>
                        <td><strong>Gewerbeerlaubnis:</strong></td>
                        <td>folgt</td>
                    </tr>
                    <tr>
                        <td><strong>IHK:</strong></td>
                        <td>Industrie- und Handelskammer zu L端beck Fackenburger Allee 2 23554 L端beck</td>
                    </tr>
                </table>
        </div>


    </div>

{{/common}}