
{{#common "gw-page"}}

    <div class="content controller" data-module="content" data-controller="modules/Content">

        <h1>IMPRESSUM</h1>
        <div class="inner">
            <h2>Wir freuen uns von Ihnen zu hören</h2>

            <p>Hier entsteht ein Kontaktformular</p>

        </div>


    </div>

{{/common}}