
{{#common "gw-page"}}

    <div class="content controller" data-module="content" data-controller="modules/Content">

        <h1>KARRIERE</h1>
        <div class="inner">
            <h2>Nutzen Sie Ihre Chance</h2>

            <p>Sie sind zwischen 20 – 35 Jahre alt und haben eine Ausbildung zum Bankkaufmann, Versicherungskaufmann, Versicherungsfachmann, Finanzanlagenfachmann oder ein Studienabschluss in den Bereichen:

                Bachelor
                Bewerben Sie sich bei der GewinnMax
            </p>

        </div>


    </div>

{{/common}}