
{{#common "gw-page"}}

    <div class="content controller" data-module="content" data-controller="modules/Content">

        <h1>KONTAKT</h1>
        <div class="inner">
            <h2>Wir freuen uns von Ihnen zu hören</h2>

            <p>Hier entsteht ein Kontaktformular</p>
            <h3>Ihre Ansprechpartner:</h3>

            <p>
                <em>GewinnMAX</em><br>
                <strong>Thomas Krämer</strong><br>
                Bargkoppelweg 67<br>
                22145 Hamburg<br>
                tk@<span class="displaynone">null</span>gewinnmax.de
            </p>

        </div>


    </div>

{{/common}}