<footer class="footer" data-common="gw-footer" >

    <div class="container">
        <nav>
            <ul class="footer-nav">
                <li><a href="#">HOME</a></li>
                <li><a href="#">IMPRESSUM</a></li>
                <li><a href="#">KONTAKT</a></li>
            </ul>
        </nav>



        <div class="">
            <img src="../assets/img/footer-91850199.jpg" style="width: 100%">
        </div>

    </div>


</footer>