<footer class="footer" data-common="gw-footer" >

    <div class="container">
        <nav>
            <ul class="footer-nav">
                <li><a href="{{page.basePath}}index.html">HOME</a></li>
                <li><a href="{{page.basePath}}impressum.html">IMPRESSUM</a></li>
                <li><a href="{{page.basePath}}kontakt.html">KONTAKT</a></li>
            </ul>
        </nav>

        <div class="">
            <img src="{{page.basePath}}assets/img/footer-91850199.jpg" style="width: 100%">
        </div>

    </div>


</footer>