<header class="header" data-common="gw-header" >

    <div class="container">
        <a href="" class="logo"><img src="./assets/img/logo.jpg" alt="Gewinn Max"></a>

        <nav>
            <ul class="level0 controller" data-controller="modules/navigation">
                <li><a href="ueber-uns.html">Über uns</a></li>
                <li>Unternehmensberatung

                    <ul class="level1">
                        <li><a href="unternehmensberatung/privat.html">Privat</a></li>
                        <li><a href="unternehmensberatung/firmen.html">Firmen</a></li>
                    </ul>

                </li>
                <li><a href="kontakt.html">Kontakt</a></li>
                <li><a href="gutschein.html">Gutschein</a></li>
                <li><a href="karriere.html">Karriere</a></li>
                <li><a href="impressum.html">Impressum</a></li>
            </ul>
        </nav>

    </div>

</header>