<form class="form controller" data-module="form" data-controller="fragments/Form" action="#register-1" method="POST" data-inline-validation="true" data-validate-onload="false">

    {{{content}}}

</form>