<div class="select datalist">
    <label for="{{name}}">
        <div class="field controller" data-controller="fragments/form/Datalist" data-type="datalist" data-ajax-method="GET" data-ajax-type="json" data-min-length="3" data-ajax="../data/ajax/data-list.html?">
            <input type="text" id="search" name="search" class="form-control" autocomplete="off" placeholder="Produkt oder Inhalt">
            <span class="glyphicon glyphicon-close clear"></span>
        </div>
    </label>
</div>