<!--<div class="file controller" data-controller="fragments/form/File" data-upload-url="../data/ajax/upload.html" data-error-message="Bildübertargung wurde abgebrochen" data-loading-message="Bild wird hochgeladen..." data-abort-message="Abbrechen">-->
<div class="file">
    {{#if label}}<label for="{{name}}" class="label">{{label}}</label>{{/if}}
    <!-- The fileinput-button span is used to style the file input field as button -->
    <a href="../data/ajax/file_success.html#" class="controller btn btn-blue fileinput-button" data-controller="fragments/form/Upload" data-max-file-size="5120000" data-max-image-size="1024">
        <span>{{placeholder}}</span>
        <!-- The file input field used as target for the file upload widget -->
        <!--<input id="fileupload" type="file" name="files[]" multiple>-->
    </a>
    <input type="hidden" class="form-control upload" name="uploadCountFiles" value="" required />
    <div class="message error " data-fragment="message">
        <div class="icon"></div>
        <div class="text error_100"><p>Bitte laden Sie mindestens ein Bild hoch.</p></div>
        <div class="text error_200"><p>Das Bild konnte nicht Hochgeladen werden. Bitte versuchen Sie eine anderes Bild.</p></div>
        <div class="text error_601"><p>Bitte wählen Sie eine JPG oder PNG Datei aus.</p></div>
        <div class="text error_800"><p>Serverfehler. Das Bild konnte nicht Hochgeladen werden. Bitte versuchen Sie eine anderes Bild.</p></div>
        <div class="text error_810"><p>Serverfehler. Das Bild wurde nicht gefunden.</p></div>
        <div class="text error_820"><p>Serverfehler. Das Bild konnte nicht gespeichert werden.</p></div>
        <div class="text error_830"><p>Die zulässige Gesamtgröße von 5 MB wurde überschritten. Bitte löschen Sie nicht benötigte Bilder oder wählen Sie ein kleineres Bild aus. </p></div>
        <div class="text error"><p>Das Bild konnte nicht Hochgeladen werden. Bitte versuchen Sie eine anderes Bild.</p></div>
    </div>
    <!-- The global progress bar -->
    <div data-asset="progress" class="progress asset" id="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <!-- The container for the uploaded files -->
    <!-- div id="files" class="files"></div -->
    <div class="files" id="files">

        <!-- div class="item" data-controller="fragments/form/UploadItem" data-file="file">
            <p>
                <span class="btn btn-white loading" disabled>Bild wird hochgeladen</span>
                <span class="preview"><img src=""><a href="#" data-delete-url="delete.html" class="link"><span class="glyphicon glyphicon-remove"></span>löschen</a></span>
                <span>filename</span>
            </p>
        </div -->

        <!-- div class="item">
            <p>
                <span disabled="" class="btn btn-white loading" style="display: none;">Bild wird hochgeladen</span>
                <span class="preview active">
                    <img src="/data/content/image/100x100.gif">
                    <a href="#" class="link"><span class="glyphicon glyphicon-remove"></span>delete</a>
                </span>
                <span>100x100x100x100x100x100x100.gif</span>
            </p>
        </div -->
        <!-- div class="item">
            <p>
                <span disabled="" class="btn btn-white loading" style="display: none;">Bild wird hochgeladen</span>
                <span class="preview active">
                    <img src="/data/content/image/100x100.gif">
                    <a href="#" class="link"><span class="glyphicon glyphicon-remove"></span>delete</a>
                </span>
                <span>100x100.gif</span>
            </p>
        </div>
        <div class="item">
            <p>
                <span disabled="" class="btn btn-white loading" style="display: none;">Bild wird hochgeladen</span>
                <span class="preview active">
                    <img src="/data/content/image/100x100.gif">
                    <a href="#" class="link"><span class="glyphicon glyphicon-remove"></span>delete</a>
                </span>
                <span>100x100.gif</span>
            </p>
        </div>
        <div class="item">
            <p>
                <span disabled="" class="btn btn-white loading" style="display: none;">Bild wird hochgeladen</span>
                <span class="preview active">
                    <img src="/data/content/image/100x100.gif">
                    <a href="#" class="link"><span class="glyphicon glyphicon-remove"></span>delete</a>
                </span>
                <span>100x100.gif</span>
            </p>
        </div -->
    </div>
</div>