.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: currentColor;
}
.icon-arrow-right {
	/*fill: #000000;*/
}
.icon-arrow-left {
	/*fill: #000000;*/
}
.icon-arrow-up {
	/*fill: #000000;*/
	width: 43px;
}
.icon-arrow-down {
	/*fill: #000000;*/
	width: 43px;
}
.icon-okay {
	/*fill: #000000;*/
}
.icon-error {
	/*fill: #000000;*/
}
.icon-info {
	/*fill: #000000;*/
}
.icon-info-black {
	/*fill: #000000;*/
}
.icon-check {
	/*fill: #000000;*/
}
.icon-close {
	/*fill: #000000;*/
}
.icon-lock {
	/*fill: #000000;*/
}
.icon-phone {
	/*fill: #000000;*/
}
.icon-callback {
	/*fill: #000000;*/
}
.icon-chat {
	/*fill: #000000;*/
}
.icon-mail {
	/*fill: #000000;*/
}
.icon-fax {
	/*fill: #000000;*/
}
.icon-download {
	/*fill: #000000;*/
}
.icon-document {
	/*fill: #000000;*/
}
.icon-magnifier {
	/*fill: #000000;*/
}
.icon-magnifier-plus {
	/*fill: #000000;*/
}
.icon-magnifier-minus {
	/*fill: #000000;*/
}
.icon-flap-menu {
	/*fill: #000000;*/
}
.icon-arrow-list {
	/*fill: #000000;*/
}
.icon-dot {
	/*fill: #000000;*/
}
.icon-cart-empty {
	/*fill: #000000;*/
}
.icon-cart-filled {
	/*fill: #000000;*/
}
.icon-remove {
	/*fill: #000000;*/
}
.icon-pin {
	/*fill: #000000;*/
}
.icon-globe {
	/*fill: #000000;*/
}
.icon-hueck {
	/*fill: #000000;*/
}
.icon-play {
	/*fill: #000000;*/
}
.icon-pause {
	/*fill: #000000;*/
}
.icon-stop {
	/*fill: #000000;*/
}
.icon-quadrate {
	/*fill: #000000;*/
}
.icon-line-1 {
	/*fill: #000000;*/
}
.icon-line-2 {
	/*fill: #000000;*/
}
.icon-okay-hint {
	/*fill: #000000;*/
}
.icon-calendar {
	/*fill: #000000;*/
}
