<div class="passwordReset" data-module="form/passwordReset">


    <div class="login" data-module="form/login">

        <form class="form controller" data-module="form" data-controller="fragments/Form" action="#login" method="POST" data-inline-validation="true">

            <div class="textblock" data-fragment="textblock">
                <hgroup>
                    <h3>{{headline}}</h3>
                </hgroup>
                <div class="content">
                    <p>* Pflichtfelder</p>
                </div>

            </div>

            <div class="form-row">
                <div class="form-group {{#if email.message.show}}has-{{email.message.type}}{{/if}}">
                    {{>fragments/form/input old-password}}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group {{#if email.message.show}}has-{{email.message.type}}{{/if}}">
                    {{>fragments/form/input new-password}}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group {{#if email.message.show}}has-{{email.message.type}}{{/if}}">
                    {{>fragments/form/input confirm-password}}
                </div>
            </div>

            <div class="form-row button-row">
                <div class="form-group">
                    <button class="btn btn-blue right" type="submit" value="submit"><span>Änderungen speichern</span></button>
                </div>
            </div>

        </form>

    </div>

    <!-- div class="col-md-12">
    <h3>Passwort vergessen</h3>
    <h4>Bitte geben Sie Ihre Daten ein </h4>
    <hr/>
    <div class="form-row">
        <div class="form-group">
            <div class="input">
                <label for="firstname" class="label">E-Mail-Adresse *</label>
                <input type="text" class="form-control" name="firstname" id="firstname" placeholder=" " value=" ">
            </div>
        </div>
    </div>

     <div class="col-md-7">
         <p>Im Anschluss erhalten Sie ein neues Passwort per Email.</p>

     </div>
        <hr />
    <div>
        <a class="btn btn-black">Passwort zusenden</a>
    </div>


    </div -->

</div>