<div class="passwordReset" data-module="form/passwordReset">


    <div class="login" data-module="form/login">

        <form class="form controller" data-module="form" data-controller="fragments/Form" action="#login" method="POST" data-inline-validation="true" data-stop-submit-on-enter="true">

            <div class="textblock" data-fragment="textblock">
                <hgroup>
                    <h3>{{headline}}</h3>
                </hgroup>
                <div class="content">
                    {{{description}}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group ">

                    <div class="select">
                        <label for="fieldOfActivity">
                            <div class="label">Lange *</div>
                            <div data-type="select" data-controller="fragments/form/Select" class="field controller">
                                <select name="fieldOfActivity" id="fieldOfActivity" class="form-control" required>
                                    <option value="">** Bitte wählen **</option>
                                    <option value="distributionArchitect">ArchitektPlaner</option>
                                    <option value="distributionMetalworker">Metallbauer</option>
                                    <option value="Lorem1">Lorem1</option>
                                    <option value="Lorem2">Lorem2</option>
                                    <option value="Lorem3">Lorem3</option>
                                    <option value="Lorem4">Lorem4</option>
                                    <option value="Lorem5">Lorem5</option>
                                    <option value="Lorem6">Lorem6</option>
                                    <option value="Lorem7">Lorem7</option>
                                    <!--<option value="Lorem8">Lorem8</option>-->
                                    <!--<option value="Lorem9">Lorem9</option>-->
                                    <!--<option value="Lorem10">Lorem10</option>-->
                                    <!--<option value="Lorem11">Lorem11</option>-->
                                    <!--<option value="Lorem12">Lorem12</option>-->
                                    <!--<option value="Lorem13">Lorem13</option>-->
                                    <!--<option value="Lorem14">Lorem14</option>-->
                                    <!--<option value="Lorem15">Lorem15</option>-->
                                </select>
                            </div>
                            <div data-fragment="message" class="message success">
                                <div class="icon"></div>
                                <div class="text"></div>
                            </div>
                            <div data-fragment="message" class="message error ">
                                <div class="icon"></div>
                                <div class="text">
                                    <p>Bitte ein Tätigkeitsfeld auswählen</p>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group {{#if email.message.show}}has-{{email.message.type}}{{/if}}">
                    {{>fragments/form/input email}}
                </div>
            </div>

            <!-- div class="form-row border-top">
                <div class="textblock" data-fragment="textblock">
                    <div class="content">
                        {{{passwortText}}}
                    </div>
                </div>
            </div -->

            <div class="form-row button-row">
                <div class="form-group">
                    <button class="btn btn-blue right" type="submit" value="submit"><span>Passwort zusenden</span></button>
                </div>
            </div>

        </form>

    </div>

</div>
