<form class="form controller" data-module="form" data-controller="fragments/Form" action="#menu-accordeon" method="GET">
    <div class="message info show" data-fragment="message">
        <div class="icon"></div>
        <div class="text">
            <p>HINWEIS</p>
        </div>
        <div class="description">
            <p>Klicken Sie hier, um die Hauptnavigation wieder anzuzeigen.</p>
        </div>
    </div>
    <hr />
    <div class="form-row">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <div class="label"></div>
                    <div class="field controller" data-controller="fragments/form/Checkbox" data-type="checkbox" data-text="checkbox1">
                        <input type="checkbox" name="checkbox1" id="checkbox1" value="checkbox1">
                        <span class="input glyphicon"></span>
                        <span class="text"><p>nicht mehr anzeigen</p></span>
                    </div>
                </label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <button class="btn link right" type="submit" value="submit"><span>Gelesen</span></button>
        </div>
    </div>
</form>