<div class="textblock {{type}} controller" data-fragment="textblock" data-controller="fragments/Textblock">
    {{>assets/hgroup headline}}
    <div class="content">
        {{#if image }}{{>fragments/zoomImage .}}{{/if}}
        {{#if fix}}<div class="fix">{{/if}}
        {{{text}}}
        {{#if fix}}</div>{{/if}}
    </div>
</div>